
body {
    background-image:url(Textures/Japan.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    }
 
h1 {
    text-align: center;
    color: rgb(216, 101, 25);
    font-size: 50px;
    font-family: 'Merienda', cursive;
    background-color:rgba(255, 255, 255, 0.7);
    border-top:rgb(226, 97, 10) 6px solid;
    border-bottom:rgb(226, 97, 10) 6px solid;
    
}

    @import url('https://fonts.googleapis.com/css?family=Merienda:400,700');


ul {
    list-style-type: none;
    margin-left: 85;
    padding: 0;
    width: inherit;
    background-image: url(Textures/NavTexture.jpg);
    background-color: rgb(15, 39, 83);
    border-left: 6px solid rgb(226, 97, 10);
    border-right: 6px solid rgb(226, 97, 10);
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0;
}


li {
    line-height: 9em;
    text-align: center;
    position: relative;
    display: block;
    border-bottom: 3px solid rgb(31, 9, 110);
    height: 25%;
}


li a {
    text-decoration: dotted;
    font-size: 28px;
    font-family: 'Merienda', cursive;
    font-weight: bolder;
    display: block;
    color: rgba(255, 255, 255, 0.7);
    height: 100%;
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(224, 96, 22);
    text-decoration: dotted;
}


li:last-child {
    border-bottom: none;
}



.active {
    background-color: #4CAF50;
    color: white;
}

#rond {
    display: inline-block;
    width:235px;
    height:235px;
    border-radius:50%;
    background:rgb(218, 136, 30);
    margin: 180px;
    margin-top: 160px;
    
}

#seed header {
    height: 100vh;
}

#seed #competences {
    height: 100vh;
}

#seed #projets {
    height: 100vh;
}

#seed #contact {
    height: 100vh;
}

#rond:hover {
    box-shadow: 0px 0px 0px 3px #925d18
}

.logo {
    display: inline-block;
}



#img {
    margin-top: 6px;
   
}

#seed {
    margin-right: 14%
}


.plaque {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -76%;
    margin-left: 87%;
    height: 300px;
    width: 512px;
    background-color: rgba(172, 164, 164, 0.3);
    box-shadow: 1px 1px 1px 1px rgb(56, 52, 52);
}

.plaque p {
    color: white;
    font-size: 22px;
}

.plaque p:nth-of-type(2) {
    margin-left: 30px;
}
.plaque p:first-of-type {
    margin-top: 10%;
}

.plaque:hover {
    background-color: rgba(255, 255, 255, 0.678);
    border: rgb(218, 136, 30) 4px solid;
}

.plaque:hover>p {
    color: rgb(218, 136, 30)
}

#competences {
    display: grid;
    justify-content: space-around;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
}

#competences section {
    background-color: rgba(151, 143, 143, 0.4);
    box-shadow: 1px 1px 1px 1px rgb(56, 52, 52);
}

#competences section:hover {
    box-shadow: 0px 0px 30px rgb(211, 202, 202);
    color: grey
}

#competences section:first-of-type{
    background-image: url(Textures/HTML.png);
    background-size: 80%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 5%;
    grid-area: 1/1;
    height: 90%;
    width: 70%;
    
}

#competences section:nth-child(2) {
    background-image: url(Textures/CSS.png);
    background-size: 60%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    grid-area: 1/2;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 13%;
    margin-right: 5%;
    height: 90%;
    width: 70%;

}

#competences section:nth-child(3) {
    background-image: url(Textures/JavaScript.png);
    background-size: 145%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    grid-area: 1/2;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 13%;
    margin-right: 5%;
    height: 90%;
    width: 70%;

}

#competences section:nth-child(4) {
    background-image: url(Textures/Symfony.svg);
    background-size: 65%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    grid-area: 1/2;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 13%;
    margin-right: 5%;
    height: 90%;
    width: 70%;

}

#competences section:nth-child(5) {
    background-image: url(Textures/VueJS.png);
    background-size: 70%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    grid-area: 1/2;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 13%;
    margin-right: 5%;
    height: 90%;
    width: 70%;

}

#competences section:nth-child(6) {
    background-image: url(Textures/Git.png);
    background-size: 70%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    grid-area: 1/2;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 13%;
    margin-right: 5%;
    height: 90%;
    width: 70%;

}

#competences section:nth-child(3){
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 5%;
    grid-area: 1/3;
    height: 90%;
    width: 70%;
    
}

#competences section:nth-child(4) {
    grid-area: 2/1;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 5%;
    height: 90%;
    width: 70%;

}

#competences section:nth-child(5){
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 13%;
    margin-right: 5%;
    grid-area: 2/2;
    height: 90%;
    width: 70%;
    
}

#competences section:nth-child(6) {
    grid-area: 2/3;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 5%;
    height: 90%;
    width: 70%;

}

.container {
    position: absolute;
    margin-top: 2%;
    margin-left: 1.5%;
    width: 60%;
}

.plaque2 {
    height: 80%;
    width: 73%;
    margin-left: 13%;
    background-color: rgba(172, 164, 164, 0.3);
    box-shadow: 1px 1px 1px 1px rgb(56, 52, 52);
}

.hidden {
    visibility: hidden;
    height: 9%;
}

footer {
    background-color: rgba(255, 255, 255, 0.2);
    display: grid;
    grid-template: 13% 27% 26% 28% / repeat(4, 25%);
    
}

h2 {
    grid-area: 1 / span 4;
    text-align: center;
    color: rgb(216, 101, 25);
    font-size: 50px;
    font-family: 'Merienda', cursive;
    background-color:rgba(255, 255, 255, 0.7);
    border-top:rgb(226, 97, 10) 6px solid;
    border-bottom:rgb(226, 97, 10) 6px solid;
}

footer img {
    position: relative;
    grid-row: 3;
    justify-self: center;
}

.rondcontact {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: white;
    grid-row: 3;
    justify-self: center;
}

.rondcontact:hover {
    box-shadow: 0px 0px 30px rgb(248, 170, 44); 
}

h4 {
    grid-row: 4;
    justify-self: center; 
    color:rgb(255, 255, 255);
    font-family: 'Merienda', cursive;
}

@media screen and (max-width: 1007px) {
    
    * {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    ul {
        display: none;
    }

}

#projectTitle {
    top: 50%;
    left: 0;
    right: 0;
}

#projectImage {
    background-color: rgba(0, 0, 0, 0.349);
}


